<div class="discs__disc">
  <figure class="discs__disc__cover">
    <a href="#">
      <img src="{{disc.cover}}" alt="">
    </a>
  </figure>
  <span class="discs__disc__artist-name">{{disc.artist}}</span>
  <span class="discs__disc__title"><a href="#">{{disc.title}}</a></span>
  <span class="discs__disc__title">{{disc.year}}</span>
</div>
