<div class="discs">
  {{#each model as |discUnit|}}
    {{disc-listing disc=discUnit}}
  {{/each}}
</div>
<!--
<div class="songs">
  <a href="#" class="song">
    <span class="icon-play">&#9658;</span>
    <span class="song__name">Name Song</span>
  </a>
</div>
-->
