<div class="discs">
  <div class="discs__disc">
    <figure class="discs__disc__cover">
      <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=&w=200&h=200" alt="">
    </figure>
    <span class="discs__disc__artist-name">Artist Album</span>
    <span class="discs__disc__title">Title Album</span>
  </div>
</div>

<div class="songs">
  <a href="#" class="song">
    <span class="icon-play">&#9658;</span>
    <span class="song__name">Name Song</span>
  </a>
</div>
